<h1>Appointment</h1>
<form action='/newapp' method = "POST">
    <input type="text" name="startDate" placeholder="Start Date" value="">
    <input type="text" name="endDate" placeholder="End Date" value="">
    <input type="text" name="owner" placeholder="Owner" value="">
    <input type="text" name="dog" placeholder="Dog" value="">
<button type="submit">Post</button>

</form>
{{appointment}}

