<h1>Appointment</h1>
<form action='/' method = "POST">
    <input type="text" name="startDate" placeholder="Name" value="">
    <input type="text" name="endDate" placeholder="Address" value="">
    <input type="text" name="owner" placeholder="Dog Name" value="">
    <input type="text" name="dog" placeholder="Dog Name" value="">
<button type="submit">Post</button>
</form>
{{appointment}}

