<h1>Sitter Approval</h1>
<form action="/{{appointmentId}}" method="POST">
    <input type="text" name="name" placeholder="Name" value="">
    <input type="text" name="email" placeholder="Email" value="">
    <input type="text" name="cellNumber" placeholder="Cell Number" value="">
    <input type="text" name="comments" placeholder="Comments" value="">
    <button type="submit">Post</button>
</form>